/* author: Samantha Maas
purpose: styling for the events component */

textarea {
    width: 45rem;
    height: 7rem;
}

.newEventForm{
    margin: 0 auto;
    max-width: 45rem;
    display: flex;
    flex-direction: column;
}

.eventsList{
    margin: 0 auto;
    max-width: 45rem;
    display: flex;
    flex-direction: column;
}

.nextEvent{
    background-color: #fef2f2;
    font-size: x-large;
}