/* author: Samantha Maas
purpose: styling for anything to do with the friends list*/

.tasksCheckList {
    margin: 0 auto;
    max-width: 45rem;
    display: flex;
    flex-direction: column;
}

.friendsTasksCheckList {
    margin: 0 auto;
    max-width: 45rem;
    display: flex;
    flex-direction: column;
}

.chatBorder{
    border-top: double #fef2f2 1rem
}