.homeMain{
    justify-content: space-between;
    display: flex;
    padding: 5rem; 
    background-color: aquamarine;
}

.newsCard {
    margin: 1rem;
    border: solid 2px;
    padding: 1rem;
    background-color: rgb(241, 108, 90);
}

.editFields {
    align-items: left;
    display: flex;
    justify-content: space-evenly;
    border: dotted 2px;
}

.newsFormContainer{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: solid 2px;
    padding: 1rem;
    background-color: rgb(241, 108, 90);
}

.editContainer {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: solid 2px;
    padding: 1rem;
    background-color: rgb(241, 108, 90);
}

.newsContainer {
    align-items: center;
    display: block;
    justify-content: space-evenly;
}

.weatherContainer{
    align-items: center;
    display: block;
    justify-content: space-evenly;
}

.forecast--card{
    margin: 1rem;
    border: solid 2px;
    padding: 1rem; 
    background-color: rgb(241, 108, 90);
}