/* author: Samantha Maas
purpose: the main page for styling. includes the general fonts, the header and animation for the title */

@import "./events.css";
@import "./friends.css";
@import "./news.css";
@import "./task.css";
@import "./weather.css";
@import "./auth.css";
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");


button,
input,
select,
textarea,
::placeholder{
    color: #b6666f;
     font-family: 'Lora', serif;
     font-size: 1rem;
     line-height: 1.5;
}

.underHeader {
    display: flex;
    justify-content: center;
}

body{
     color: #d1a080;
     font-family: 'Lora', serif;
     font-size: 1rem;
     line-height: 1.5;
 }

 .dashboard--left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 10%;
    float: left;
    height: 53rem;
    margin-left: 2rem;
    
    
}

.dashboard--center{
    position: relative;
    flex-direction: column;
    width: 75%;
    float: left;
    height: 53rem;
    width: fit-content;
    margin-right: 5rem;
    margin-left: 5rem;
    
}

.dashboard--right{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 15%;
    float: left;
    height: 53rem;
    margin-right: 2rem;
}

