@import "./events.css";
@import "./friends.css";
@import "./news.css";
@import "./task.css";
@import "./weather.css";
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");


.header {
    display: flex;
    flex-wrap: wrap;
}

.auth--login{
    display: flex;
    flex-wrap: wrap;
}

.login{
    border: solid #e4c2c1;
    height: 12em;
    width: 15em;
    padding: 0.5em;
    text-align: center;
    text-align-last: center;
    margin-left: auto;
    margin-right: auto;
}

.register {
   border: solid #e4c2c1;
   height: 15em;
   width: 20em;
   padding: 1em;
   text-align: center;
   text-align-last: center;
   margin-left: auto;
   margin-right: auto;
}


.siteName{
    color: #e4c2c1;
    font-family: 'Times New Roman', Times, serif;
    font-size: 5em;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em  solid #b6666f; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #b6666f; }
}

body,
button,
input,
select,
textarea {
     color: #b6666f;
     font-family: 'Lora', serif;
     font-size: 1rem;
     line-height: 1.5;
 }



