@import "./events.css";
@import "./friends.css";
@import "./news.css";
@import "./task.css";
@import "./weather.css";
@import "./auth.css";
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");



body,
button,
input,
select,
textarea {
     color: #b6666f;
     font-family: 'Lora', serif;
     font-size: 1rem;
     line-height: 1.5;
 }

 .dashboard--left {
    display: flex;
    flex-direction: column;
    /* border: 0.5em solid #e4c2c1; */
    width: 10%;
    float: left;
    height: 53rem;
    
}

.dashboard--center{
    display: flex;
    position: relative;
    flex-direction: column;
    /* border: 0.5em solid #e4c2c1; */
    width: 75%;
    float: left;
    height: 53rem;
    width: fit-content;
    overflow: scroll;
    margin-right: 10rem;
    margin-left: 5rem;
    
}

.dashboard--right{
    display: flex;
    flex-direction: column;
    /* border: 0.5em solid #e4c2c1; */
    width: 15%;
    float: left;
    height: 53rem;
    margin-right: 5rem;
    margin-left: 5rem;
}

