.weatherContainer{
    /* display: flex; */
    justify-content: center;
    flex: 1;
    margin-right: 10rem;
    margin-left: 5rem;
}

.weatherTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forecast--card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
