.weatherContainer{
    /* display: flex; */
    
    flex: 1;
    justify-content: space-between;
}

.weatherTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forecast--card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
